*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
}
.filters{
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}
.filterItem{
    display: flex;
    flex-direction: column;
}
.imgBlock{
    display: flex;
    flex-direction: column;
}
.imageBtns{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}